<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Page</title>
    <style>
        ul {
            list-style-type: none; /* Removes bullet points from unordered lists */
        }

        img {
            height: 192px;
            width: 192px;
        }
        
        .list-group-horizontal-wrap {
            display: flex;
            flex-wrap: wrap;
        }
       
        .list-group-horizontal-wrap .list-group-item {
            margin-right: 10px; /* Add some space between items if needed */
            margin-bottom: 10px; /* Add some space at the bottom for wrapping */
            border: none; /* Remove border */
            text-decoration: none; /* Remove underline */
        }
        
        
       

        .main-title{
            margin-bottom: 50px;
            margin-top: 20px;
        }

    </style>
</head>
<body>
        <div class="container">
            <h2 class="text-center main-title">Top Artists</h2>
  
            <ul class="nav nav-tabs nav-fill w-100" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="fourweeks-tab" data-bs-toggle="tab" data-bs-target="#fourweeks" type="button" role="tab" aria-controls="fourweeks" aria-selected="true" onclick="getArtistsData('4weeks')">Last 4 Weeks</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="sixmonths-tab" data-bs-toggle="tab" data-bs-target="#sixmonths" type="button" role="tab" aria-controls="sixmonths" aria-selected="false" onclick="getArtistsData('6months')">Last 6 Months</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="oneyear-tab" data-bs-toggle="tab" data-bs-target="#oneyear" type="button" role="tab" aria-controls="oneyear" aria-selected="false" onclick="getArtistsData('1year')">Last 1 Year</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="fourweeks" role="tabpanel" aria-labelledby="fourweeks-tab">
                    <div class="row list-group-horizontal-wrap" id="artistsDataContainer-4weeks"></div>
                </div>
                <div class="tab-pane fade" id="sixmonths" role="tabpanel" aria-labelledby="sixmonths-tab">
                <div class="row list-group-horizontal-wrap" id="artistsDataContainer-6months"></div>
                </div>
                <div class="tab-pane fade" id="oneyear" role="tabpanel" aria-labelledby="oneyear-tab">
                <div class="row list-group-horizontal-wrap" id="artistsDataContainer-1year"></div>
                </div>
            </div>

        </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/b8bac57295.js" crossorigin="anonymous"></script>

    <script>
        function getArtistsData(timeFrame) {
            $.ajax({
                url: '/Home/GetArtistTrackData',
                method: 'GET',
                data: {timeFrame: timeFrame},
                success: function (response) {
                    var containerId = '#artistsDataContainer-' + timeFrame;
                    var artistHtml = '';
                    if (response.artists){
                        $.each(response.artists, function (index, artist) {
                            artistHtml += `<div class="col-md-3 col-sm-6 mb-3">
                            <a class="list-group-item text-center" href="${artist.uri}" target="_blank">
                        <img src="${artist.firstImageUrl}" alt="Spotify Profile Image" />
                        <div>${index + 1}. ${artist.name} <i class="fa-brands fa-spotify"></i></div>
                    </a>
                </div>`;
                        });
                    }
                    $(containerId).html(artistHtml);

                },
                error: function(status, error){
                    var containerId = '#artistsDataContainer-' + timeFrame;
                    $(containerId).html('An error occurred while fetching data.');
                }
            });
        }
        
        $(document).ready(function () {
            console.log("Document is ready. Fetching data for the default tab (4weeks).");
            getArtistsData('4weeks');
        });
        
    </script>

</body>
</html>
