@{
    ViewData["Title"] = "Home Page";
}
<style>
    #sideIcons{
        font-size: 5em;
    }
</style>

@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-info" href="/Home/Artists">Artists <i class="fa-solid fa-users"></i></a>
    <a class="btn btn-info" href="/Home/Tracks">Tracks <i class="fa-solid fa-headphones"></i></a>
    <a class="btn btn-info" href="/Home/Genres">Genres <i class="fa-solid fa-guitar"></i></a>
    <br />
    <i class="fa-solid fa-hourglass-start" id="sideIcons"></i><p>Tired of waiting for the end of the year wrap to see your most lisented tracks, artists and genres? Then say hello to ForeverWrapped, the constant Spotify stat checker!</p>
    <br />
    <i class="fa-solid fa-arrow-up-wide-short" id="sideIcons"></i><p>View your most listened to artists, tracks and genres. Your data is fetched constanly utalizing the Spotify API endpoints each time you login.</p>
    <br />
    <i class="fa-solid fa-file-audio" id="sideIcons"></i><p>Save your top 50 songs you listen to on a playlist for later!</p>

}
else
{
    <p>You are not authenticated with Spotify. Please sign in.</p>
    //<a class="btn btn-primary" href="/signin-spotify">Login with Spotify</a>
    <a asp-action="SignIn">Click here to login</a>
}

<script src="https://kit.fontawesome.com/b8bac57295.js" crossorigin="anonymous"></script>

