@{
    Layout = null;
    ViewData["Title"] = "Logout Page";
}
<style>
   

</style>

<p>You are not authenticated with Spotify. Please sign in.</p>
<a href="@Url.Action("Index", "Home")">Click here to login</a>

<script src="https://kit.fontawesome.com/b8bac57295.js" crossorigin="anonymous"></script>

